/** {
    border: 1px solid red;
}*/

.page-color {
    display: flex;
    margin: 50px 50px;
    height: 75vh;
    align-items: center;
    justify-content: right;
}

.column-text {
    width: 20%;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
    flex-wrap: wrap;
}

.column-text div {
    margin: 100px 0px;
}

.smallimg {
    display: flex;
    align-items: center;
    gap: 5%;
}

.button {
    margin-right: 5%;
    padding: 10px;
    background-color: black;
    color: white;
}

body {
    background-color: rgb(214, 164, 57);
}

span.report {
    font-size: 24px;
    font-weight: 700;
}

span.respect {
    font-size: 18px;
    font-weight: 300;
}

div.smallimg {
    font-size: 18px;
    font-weight: 400;
}

h1 {
    text-align: center;
    text-decoration: ;
}




